* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 100px 0;

}

.header a {
    margin-left: 15px;
}

#timer {
    margin: 0 25px 0 0;
}


.welcome-page {
display: flex;
flex-wrap: wrap;
width: 100%;
text-align: center;
justify-content: center;
margin-bottom: 15px;
}

.welcome {
    margin-bottom: 10px;
    text-align: center;
    width: 100%; 
}
.container {
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}
#question-container {
    width: 60%;

}

.btn {
    width: 100%;
    background-color: var(--before-color);
    color: white;
    padding: 10px;
    margin: 5px 0 5px 0; 
    font-size: 20px;   
}



.controls {
    display: flex;
    justify-content: center;
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}


.start-btn:hover,
.btn:hover{
    background-color: blueviolet;
}

.hide {
    display: none;
}

#question {
    margin-bottom: 15px;
    font-size: 24px;
}


.correct {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    background-color: green;
}


.incorrect {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    background-color: red;
}